<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> <%=title %> </title>
    <style>

    </style>



    <!--insertar codigo JS-->
    <%- include ('partials/head.html') %>

</head>
<!--arreglar navegacion ctrl K + ctrl F-->

<body>

    <%- include ('partials/navigation.html') %>

    <br>
    <div class="container">
        <header class="row"><br><br><br><br>

            <div class="col-lg-12 text-center">
                <img class="animate__animated animate__backInRight" src="/img/pews-logo.png" width="300" height="200" alt="logo">
                <!--<h1 class="animate__animated animate__bounce">An animated element</h1>-->
            </div>
        </header>
    </div>
    <!--seccion one-->

    <div class="conteiner-fluid" id="about">
        <div class="row bg-dark text-white p-5 text-center">
        <div class="col-sm-6">

        </div>
        <div class="col-sm-6">
            <h3>Front-End
                Web Developer<br>
                Alejandro Casas</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam voluptate fugiat pariatur ad asperiores
                aspernatur voluptatibus nemo, deleniti sequi saepe maxime. Corporis ullam iste et nostrum laborum quidem
                minus aliquam?</p>
                
        </div>
        
    </div>
   
</div>
<%- include ('partials/footer.html') %>
</body>

</html>