<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> <%=title %> </title>
    <style>

    </style>



    <!--insertar codigo JS-->
    <%- include ('partials/head.html') %>
</head>
<!--arreglar navegacion ctrl K + ctrl F-->
<body>
    <%- include ('partials/navigation.html') %>

    <br>
    <div class="container .cuatro.columnas">
        <header class="row">
            <div class="col-lg-4 text-center">
                <div  class="col-sm-6 h3.proyects">
                <a href="/proyectoAlco/index">
                    <h3>Tablas de puntos Alco</h3>
                    <img class="animate__animated animate__backInRight" src="/img/alco.jpeg" width="150" height="150" alt="logo">
                </a>  
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="col-sm-6 h3.proyects">
                    <a href="/proyectoTareas/index">
                    <h3>Registro de tareas</h3>
                    <img class="animate__animated animate__backInRight" src="/img/agenda.jpeg" width="150" height="150" alt="logo">
                </a> 
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="col-sm-4">
                    <h3>Proyecto Biblioteca</h3>
                </div>
            </div>
            
        </header>
    </div>


    
    <!--seccion one-->




    <div class="conteiner-fluid" id="about">
        <div class="row bg-dark text-white p-5 text-center">
        <div class="col-sm-6">

        </div>
        
        
    </div>
   
</div>
<%- include ('partials/footer.html') %>
</body>

</html>